.fixedbtn {

    background: #000;
    border-radius: 2px;
    border: 1px solid #FFF;
    color: #FFF;
    cursor: pointer;
    padding: 2px 2px;
    box-sizing: border-box;
    outline: none;
    font-size: 12px;
    width: 72px;
}

.arrowgraph {
    display:inline-block;
    font-size: 13px;
}