


<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

<script type=text/javascript src="{{
    url_for('static', filename='jquery.js') }}">
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<script type=text/javascript>

function seperateTextBySentences(text)
{
    var result = text.match( /[^\.!\?]+[\.!\?]+/g );
    return result
}




function showStructure(data)
{

}

function getStructure(sentence)
{

    $.getJSON($SCRIPT_ROOT + '/ajaxAnalyzeRegex',
                {async: false,
                valSentenceToAnalyze: sentence
                },
                function(data) 
                {
                    splitSentence(data.result);
                });

}

function displaySentence(sentence)
{
    var sen = document.getElementById("selectedSentence");
    removeChildren(sen);
    var anchor = document.createElement("a");
    anchor.innerHTML = sentence;
    sen.appendChild(anchor);
}

function removeChildren(element)
{
    while (element.firstChild) 
    {
        element.removeChild(element.firstChild);
    }
}

function resetConstruction()
{
    var sen = document.getElementById("constructedSentence");
    removeChildren(sen);
    var sen1 = document.getElementById("constructedGrammar");
    removeChildren(sen1);
}
function addWordToConstruction(word,grammar)
{
    var sen0 = document.getElementById("constructedSentence");
    var sen1 = document.getElementById("constructedGrammar");
    var btn0 = document.createElement("button");
        btn0.innerHTML = word;
        btn0.className = "fixedbtn";
    var btn1 = document.createElement("button");
        btn1.innerHTML = grammar;
        btn1.className = "fixedbtn";
    sen0.appendChild(btn0);
    sen1.appendChild(btn1);
    //console.log(word+" "+grammar)
}

function splitSentence(sentence)
{
    var sen0 = document.getElementById("selectedSentence");
    removeChildren(sen0);
    var sen1 = document.getElementById("selectedGrammar");
    removeChildren(sen1);
    var anchor = document.createElement("a");
    var anchor1 = document.createElement("a");
    //console.log(sentence);
    //(sentence)
    //var words = sentence.split(" ");
    for (let i in sentence) 
    {
        let val0 = sentence[i][0];
        let val1 = sentence[i][1];
        var btn = document.createElement("button");
        btn.innerHTML = val0;
        btn.className = "fixedbtn";
        
        anchor.appendChild(btn);



        var btn2 = document.createElement("button");
        btn2.className = "fixedbtn";
        //console.log(paddedValue);
        btn2.innerHTML = val1;
        anchor1.appendChild(btn2);

        btn.addEventListener("click", function()
        {
            addWordToConstruction(val0,val1)
        }); 

        btn2.addEventListener("click", function()
        {
            addWordToConstruction(val0,val1)
        }); 

    }
    sen0.appendChild(anchor);
    sen1.appendChild(anchor1);
}

function selectSentence(sentence)
{
    //displaySentence(sentence);
    getStructure(sentence);
    //displaySentence(sentence);
    //document.getElementById("selectedSentence").textContent = sentence; 
    //console.log(sentence);
}

function displayDocument(result)
{
    //console.log(result);
    //var list = document.createElement("ul");
    strs = seperateTextBySentences(result)
    var list = document.getElementById("listAnchor");
    removeChildren(list);
    for (let i in strs) 
    {
        var anchor = document.createElement("a");
        anchor.href = "#";
        anchor.innerText = strs[i];
        anchor.id = "articleSentence" + i;
        anchor.addEventListener("click", function()
        {
            selectSentence(strs[i]);
        }); 
        /*
        anchor.onclick = function () 
        {
            var thisName = this.id;
            var res = thisName.split("articleSentence")[1];
            var resNum = parseInt(res);
            selectSentence(strs[resNum]);
        };*/

        var elem = document.createElement("li");
        elem.appendChild(anchor);
        list.appendChild(elem);
    }
}
    $(function() 
    {
      $('a#calculate').bind('click', function() 
      {
        $.getJSON($SCRIPT_ROOT + '/ajaxGetArticle', 
        {
          valArticle: $('input[name="article"]').val()
        }, function(data) 
        {
          //$("#resultArticle").text(data.result);
          displayDocument(data.result);
        });
        
        return false;
      });

      $('a#calcAnalyzeRegex').bind('click', function() 
      {
        $.getJSON($SCRIPT_ROOT + '/ajaxAnalyzeRegex', 
        {
          valSentenceToAnalyze: $('textArea[name="analyzeRegex"]').val()
        }, function(data) 
        {
          $("#resultAnalyzeRegex").text(data.result);
        });
        return false;
      });
    });
  </script>
    <p>
        <input type=text size=10 name=article>
        <a href=# id=calculate>Get Article</a>
    </p>
    
    <!--<p>
        <textarea size=25 name=analyzeRegex cols="30" rows="5"></textarea>
        <a href=# id=calcAnalyzeRegex>Analyze Regex</a>
    </p>-->
    <button type="button" onclick="resetConstruction()">Reset Sentence</button> 
    <p>
        <span id="constructedSentence"> </span>      
    </p>
    <p>
        <span id="constructedGrammar"> </span>      
    </p>
    <hr>
    <p>
        <span id="selectedSentence"> </span>
    </p>
    <p>
        <span id="selectedGrammar"> </span>
    </p>
    
    <p>
        <span id=resultAnalyzeRegex></span>
    </p>
    <hr>
    <p>
        <ul id=listAnchor></ul>
    </p>
    
    <p>
        <p id=resultArticle></p>
    </p>
    

<script>

    window.onload = (event) => 
    {   
    };


    function clickCookie0()
    {
        //setCookie("PageCookie0", document.getElementById("inputBox0").value,"100" );
    }


</script>

