


<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

<script type=text/javascript src="{{
    url_for('static', filename='jquery.js') }}">
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<script type=text/javascript>


class LoadedArticle {
  constructor() {
    this.sentenceConstruction = [];
    this.name = "";
    this.sentence = "";
    this.neuralMatchType = "grammar"
    this.neuralMatchLength = "full"
    this.results = []
  }
  addResult(data)
  {
    this.results.push(data)
    displayPatternResults()
  }
}

let currentArt = new LoadedArticle();

function seperateTextBySentences(text)
{
    var result = text.match( /[^\.!\?]+[\.!\?]+/g );
    return result
}

function removePatternResult(indx)
{
    currentArt.results.splice(indx, 1); 
    displayPatternResults()
}

function displayPatternResults()
{
    data = currentArt.results
    var r = document.getElementById("finalResultSpan");
    removeChildren(r)

    var listElement = document.createElement('ol')
    r.appendChild(listElement)
    //console.log(data)
    for (let x in data)
    {
        var anchor = document.createElement("li");
        var inner = document.createElement('ul');
        anchor.appendChild(inner);
        for (y in data[x])
        {
            var subItem = document.createElement('li')
            subItem.innerHTML = data[x][y];
            inner.appendChild(subItem);
        }
        
        var btnWhole0 = document.createElement("button");
        btnWhole0.innerHTML = "Remove";

        btnWhole0.addEventListener("click", function()
        {
            removePatternResult(x);
        });
        anchor.appendChild(btnWhole0);
        listElement.appendChild(anchor);
    }

}



function showHandReturn(data)
{
    console.log(data)
    //currentArt.addResult(["Hand",data[3],data[4]])
    var wordArr = [];
    var grammarArr = [];
    for (x in data)
    {
        innerArr = data[x].split(',');
        console.log(innerArr)
        wordArr.push(innerArr[0]+"");
        grammarArr.push(innerArr[1]+"");
    }
    currentArt.addResult(['Hand',wordArr,grammarArr]);
    //showReturnResult(data,"Hand");
}

function confirmRegexPattern(data)
{
    currentArt.addResult(['Regex',data['Matching'],data['Regex Matched']])
    //console.log(data)
}

function showRegexReturn(data)
{
    showReturnRegexResult(data,"Regex")
    //currentArt.addResult(["Regex",data[3],data[4]])
}

function confirmNeuralPattern(data)
{
    currentArt.addResult(["Neural",data['Article Text'],data['Article Grammar']])
    //console.log(data)
}

function showNeuralReturn(data)
{
    //console.log(data)
    showReturnResult(data,"Neural")
}


function showReturnRegexResult(data,type)
{
    var q = document.getElementById("questionResultSpan");
    removeChildren(q)
    var listContainer = document.createElement('div')
    var listElement = document.createElement('ul')
    listContainer.appendChild(listElement)
    for (let x in data) 
    {
        var isValue = true
        
        for (let y in data[x]) 
        {   
            var innerItem = document.createElement('li')
            var listItem = document.createElement('ol')

            if (data[x][y] ==false)
            {
                isValue = false
            }
            for (let [key, value] of Object.entries(data[x][y])) 
            {
                var subItem = document.createElement('li')
                subItem.innerHTML = `${key}: ${value}`;
                listItem.appendChild(subItem)
            }

            if (isValue != false)
            {
                listElement.appendChild(innerItem)
                var btnWhole0 = document.createElement("button");
                btnWhole0.innerHTML = "Add result";
                if (type == "Regex")
                {
                    btnWhole0.addEventListener("click", function()
                    {
                        confirmRegexPattern(data[x][y])
                    });
                }
                
                innerItem.appendChild(listItem)
                innerItem.appendChild(btnWhole0)
            }
        }
    }
    q.appendChild(listContainer)
}

function showReturnResult(data,type)
{
    var q = document.getElementById("questionResultSpan");
    removeChildren(q)
    var listContainer = document.createElement('div')
    var listElement = document.createElement('ol')
    listContainer.appendChild(listElement)
    //for (let x = 0; x < data.length; ++x) 
    for (let x in data) 
    {
        var innerItem = document.createElement('li')
        listElement.appendChild(innerItem)
        var listItem = document.createElement('ul')
        //listItem.innerHTML = data[i];
        for (let [key, value] of Object.entries(data[x])) 
        {
            //console.log(`${key}: ${value}`);
            var subItem = document.createElement('li')
            subItem.innerHTML = `${key}: ${value}`;
            listItem.appendChild(subItem)

        }
        /*for (var y in data[x])
        {
            var subItem = document.createElement('li')
            subItem.innerHTML = data[x][y].key;
            listItem.appendChild(subItem)
        }*/
        ///
        var btnWhole0 = document.createElement("button");
        btnWhole0.innerHTML = "Add result";
        if (type == "Neural")
        {
            btnWhole0.addEventListener("click", function()
            {
                confirmNeuralPattern(data[x])
            });
        }
        else if (type == "Regex")
        {
            btnWhole0.addEventListener("click", function()
            {
                confirmRegexPattern(data[x])
            });
        }
        else if (type == "Hand")
        {
            btnWhole0.addEventListener("click", function()
            {
                confirmHandPattern(data[x])
            });
        }
        innerItem.appendChild(listItem)
        innerItem.appendChild(btnWhole0)
    }
    q.appendChild(listContainer)
}

function checkRegexPatterns()
{
    $.getJSON($SCRIPT_ROOT + '/ajaxReturnPatterns',
                {
                valArticle: currentArt.name
                },
                function(data) 
                {
                    showRegexReturn(data.result);
                });
}

function checkNeuralPatterns()
{
    $.getJSON($SCRIPT_ROOT + '/ajaxneuralmatches',
                {
                    valMatchGrammar: currentArt.neuralMatchType,
                    valMatchLength: currentArt.neuralMatchLength
                },
                function(data) 
                {
                    showNeuralReturn(data.result)
                    
                });
}


function getArticlePatterns(articleName)
{
    $.getJSON($SCRIPT_ROOT + '/ajaxReturnPatterns',
                {async: false,
                valArticleName: articleName
                },
                function(data) 
                {
                    //splitSentence(data.result);
                });
}

function getStructure(sentence)
{

    $.getJSON($SCRIPT_ROOT + '/ajaxAnalyzeRegex',
                {async: false,
                valSentenceToAnalyze: sentence
                },
                function(data) 
                {
                    splitSentence(data.result);
                });
}

function displaySentence(sentence)
{
    var sen = document.getElementById("selectedSentence");
    removeChildren(sen);
    var anchor = document.createElement("a");
    anchor.innerHTML = sentence;
    sen.appendChild(anchor);
}

function removeChildren(element)
{
    while (element.firstChild) 
    {
        element.removeChild(element.firstChild);
    }
}


function resetConstructionImage()
{
    var sen = document.getElementById("constructedSentence");
    removeChildren(sen);
    var sen1 = document.getElementById("constructedGrammar");
    removeChildren(sen1);
}
function resetConstruction()
{
    currentArt.sentenceConstruction = [];
    resetConstructionImage();
    
}

function updateConstruction(c)
{
    resetConstructionImage();
    var sen0 = document.getElementById("constructedSentence");
    var sen1 = document.getElementById("constructedGrammar");
    for (let i in c)
    {               
        var btn0 = document.createElement("button");
            btn0.innerHTML = c[i][0];
            btn0.className = "fixedbtn";
        var btn1 = document.createElement("button");
            btn1.innerHTML = c[i][1];
            btn1.className = "fixedbtn";
        sen0.appendChild(btn0);
        sen1.appendChild(btn1);
    }
}
function addWholeConstruction(sentence)
{
    for(let i in sentence)
    {
        addWordToConstruction(sentence[i][0],sentence[i][1])
    }
}

function addWordToConstruction(word,grammar,index)
{
    currentArt.sentenceConstruction.push([word,grammar,index]);
    updateConstruction(currentArt.sentenceConstruction);
    //console.log(sentenceConstruction);
}


function getColumn(array,col)
{
    temp = []
    for (var x in array)
    {
        temp.push(array[x][col])
    }
    return temp
}

function arrayToString(arr)
{
    temp = []
    for (var x in arr)
    {
        temp.push(arr[x])
    }
    return temp
}
function savePattern()
{
    //var sendP = getColumn(currentArt.sentenceConstruction,1);
    //var sendS = getColumn(currentArt.sentence,1); 
    var sendP = currentArt.sentenceConstruction;
    var sendS = currentArt.sentence;
    //console.log(sendP);
    //console.log(sendS);
    $.ajax({
    url: $SCRIPT_ROOT + '/ajaxSavePattern',
    data: { valPattern: sendP, valSentence: sendS },
    traditional: true,
    success: function(data) 
    {
        showHandReturn(data.result)
    }
});

}



function splitSentence(sentence)
{
    currentArt.sentence = sentence
    var sen0 = document.getElementById("selectedSentence");
    removeChildren(sen0);
    var sen1 = document.getElementById("selectedGrammar");
    removeChildren(sen1);
    var sen2 = document.getElementById("otherButtons");
    removeChildren(sen2);
    var anchor = document.createElement("a");
    var anchor1 = document.createElement("a");

    var btnWhole0 = document.createElement("button");
        btnWhole0.innerHTML = "Add All Words";
        btnWhole0.addEventListener("click", function()
        {
            addWholeConstruction(sentence)
        });
    sen2.appendChild(btnWhole0);
    var btnWhole1 = document.createElement("button");
        btnWhole1.innerHTML = "Save Pattern";
        btnWhole1.addEventListener("click", function()
        {
            savePattern()
        });

    sen2.appendChild(btnWhole1);
    //console.log(sentence);
    //(sentence)
    //var words = sentence.split(" ");
    for (let i in sentence) 
    {
        let val0 = sentence[i][0];
        let val1 = sentence[i][1];
        var btn = document.createElement("button");
        btn.innerHTML = val0;
        btn.className = "fixedbtn";
        
        anchor.appendChild(btn);

        var btn2 = document.createElement("button");
        btn2.className = "fixedbtn";
        //console.log(paddedValue);
        btn2.innerHTML = val1;
        anchor1.appendChild(btn2);

        btn.addEventListener("click", function()
        {
            addWordToConstruction(val0,val1,i)
        }); 

        btn2.addEventListener("click", function()
        {
            addWordToConstruction(val0,val1,i)
        }); 

    }
    sen0.appendChild(anchor);
    sen1.appendChild(anchor1);
}

function selectSentence(sentence)
{
    getStructure(sentence);
}

function displayPatternMatches(result)
{
    console.log(result)
}




function addDocumentButtons()
{
    var patternButtonSpan = document.getElementById("checkPatternSpan");
    removeChildren(patternButtonSpan);
    var btnPattern = document.createElement("button");
        btnPattern.innerHTML = "Check Regex Patterns";
        btnPattern.addEventListener("click", function()
        {
            checkRegexPatterns();
        }); 
    patternButtonSpan.appendChild(btnPattern);

    var patternButtonNeuralSpan = document.getElementById("checkPatternNeuralSpan");
    removeChildren(patternButtonNeuralSpan);
    var btnPattern1 = document.createElement("button");
        btnPattern1.innerHTML = "Check Neural Patterns";
        btnPattern1.addEventListener("click", function()
        {
            checkNeuralPatterns();
        }); 
    patternButtonNeuralSpan.appendChild(btnPattern1);
    ////////
    var select = document.createElement("select");
    select.id = "neuralSelect";
    select.name="neuralSelect";

    var option0 = document.createElement("option");
    option0.value=0;
    option0.selected="";
    option0.innerHTML= "grammar";
    option0.addEventListener("click", function()
    {
        currentArt.neuralMatchType = "grammar"
    }); 

    var option1 = document.createElement("option");
    option1.value=1;
    option1.innerHTML= "text";
    option1.addEventListener("click", function()
    {
        currentArt.neuralMatchType = "text"
    }); 

    select.appendChild(option0);
    select.appendChild(option1);
    /////////
    var select1 = document.createElement("select");
    select1.id = "neuralLength";
    select1.name="neuralLength";

    var option2 = document.createElement("option");
    option2.value=0;
    option2.selected="";
    option2.innerHTML= "long";
    option2.addEventListener("click", function()
    {
        currentArt.neuralMatchLength = "long"
    }); 

    var option3 = document.createElement("option");
    option3.value=1;
    option3.innerHTML= "short";
    option3.addEventListener("click", function()
    {
        currentArt.neuralMatchLength = "short"
    }); 
    ///
    select1.appendChild(option2);
    select1.appendChild(option3);

    patternButtonNeuralSpan.appendChild(select);
    patternButtonNeuralSpan.appendChild(select1);
}

function displayDocument(result)
{
    currentArt.name = result[0]
    strs = result[1]
    //console.log(result);
    //var list = document.createElement("ul");
    //strs = seperateTextBySentences(result)
    addDocumentButtons()
    
    var list = document.getElementById("listAnchor");
    removeChildren(list);
    
    for (let i in strs) 
    {
        var anchor = document.createElement("a");
        anchor.href = "#";
        anchor.innerText = strs[i];
        anchor.id = "articleSentence" + i;
        anchor.addEventListener("click", function()
        {
            selectSentence(strs[i]);
        }); 
        /*
        anchor.onclick = function () 
        {
            var thisName = this.id;
            var res = thisName.split("articleSentence")[1];
            var resNum = parseInt(res);
            selectSentence(strs[resNum]);
        };*/

        var elem = document.createElement("li");
        elem.appendChild(anchor);
        list.appendChild(elem);
    }
}
    $(function() 
    {
      $('a#calculate').bind('click', function() 
      {
        $.getJSON($SCRIPT_ROOT + '/ajaxGetArticle', 
        {
          valArticle: $('input[name="article"]').val()
        }, function(data) 
        {
          //$("#resultArticle").text(data.result);
          displayDocument(data.result);
        });
        
        return false;
      });

      $('a#calcAnalyzeRegex').bind('click', function() 
      {
        $.getJSON($SCRIPT_ROOT + '/ajaxAnalyzeRegex', 
        {
          valSentenceToAnalyze: $('textArea[name="analyzeRegex"]').val()
        }, function(data) 
        {
          $("#resultAnalyzeRegex").text(data.result);
        });
        return false;
      });
    });
  </script>
    <p>
        <input type=text size=10 name=article>
        <a href=# id=calculate>Get Article</a>
    </p>

    <p>
        <span id="finalResultSpan"> </span>      
    </p>
    <hr>
    
    <p>
        <span id="checkPatternSpan"> </span>      
    </p>
    <p>
        <span id="checkPatternNeuralSpan"> </span>      
    </p>
    
    <!--<p>
        <textarea size=25 name=analyzeRegex cols="30" rows="5"></textarea>
        <a href=# id=calcAnalyzeRegex>Analyze Regex</a>
    </p>-->
    <button type="button" onclick="resetConstruction()">Reset Sentence</button> 
    <p>
        <span id="constructedSentence"> </span>      
    </p>
    <p>
        <span id="constructedGrammar"> </span>      
    </p>
    <hr>
    <p>
        <span id="otherButtons"> </span>
    </p>
    <p>
        <span id="selectedSentence"> </span>
    </p>
    <p>
        <span id="selectedGrammar"> </span>
    </p>
    
    <p>
        <span id=resultAnalyzeRegex></span>
    </p>
    <hr>
    <p>
        <span id="questionResultSpan"> </span>      
    </p>
    <hr>
    <p>
        <ul id=listAnchor></ul>
    </p>
    <p>
        <p id=resultArticle></p>
    </p>
    

<script>

    window.onload = (event) => 
    {   
    };


    function clickCookie0()
    {
        //setCookie("PageCookie0", document.getElementById("inputBox0").value,"100" );
    }


</script>

